Tests: libsdl2-image-dev
Restrictions: allow-stderr, superficial
Depends:
 build-essential,
 cmake,
 debconf,
 file,
 libsdl2-image-dev,
 ninja-build,
 pkgconf,
 xauth,
 xvfb,

Tests: installed-tests
Restrictions: allow-stderr, superficial
Depends:
 gnome-desktop-testing,
 libsdl2-image-tests,
